.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8);
}
.appContainer {
  width: 100%;
  max-width: 400px;
  height: 500px;
  padding: 30px;
  border-radius: 5px;
  margin: auto;
  background-color: #fff;
  
}
.title {
  color: #000;
  text-align: center;
}
